/*multiple elements field*/
.btn-add, .btn-remove{
	margin-right: 0 !important;
}

/*multiple elements field*/
.multi-element{

}

/*multi column form*/
[data-role="dynamic-fields"] > .form-multi-raw + .form-multi-raw {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-multi-raw [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-multi-raw:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-multi-raw:last-child [data-role="remove"] {
    display: none;
}

/*sotable Table*/
.table-sortable tbody tr {
    cursor: move;
}



/*Material Design*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/*Material Design*/